@import url('https://fonts.googleapis.com/css?family=Teko');

@font-face{
    font-family:"Library";
    src: url("library-3-am/Library 3 am.otf") 
}

@font-face{
    font-family:"ralel";
    src: url("raleway/Raleway-Light.ttf") 
}

@font-face{
    font-family:"Quantum";
    src: url("Quantum.otf") 
}

@font-face{
    font-family:"Monster";
    src: url("montserrat/Montserrat-Regular.ttf") 
}

@font-face{
    font-family:"Library";
    src: url("library-3-am/Library 3 am.otf") 
}

@font-face{
    font-family:"Mosk";
    src: url("Mosk Typeface/Mosk Medium 500.tff") 
}


@font-face{
    font-family:"Bourbon";
    src: url("BourbonGrotesque-Regular+(1).otf") 
}
@font-face{
    font-family:"rale";
    src: url("raleway/Raleway-Regular.ttf") 
}

@font-face{
    font-family:"Port";
    src: url("Potra (1)/Potra.ttf") 
}



body{
margin: 0;
    background-color: rgb(226, 187, 29);

}
.wrapper{
    padding-bottom:0px;
}


th.don{
    color: white;
    
}
h1{
    position: fixed;
    z-index: 3;
    left: 25%;
    top: -5%;
    color: white; /*rgb(216, 185, 73)*/ 
    font-family:"Bourbon";
    font-size: 60px;
    margin-left: -2%;
    margin-right: 5%;
    
    
}
a.color-one{
    position: fixed;
    left: 2%;
    top: 2%;
    color: black;
    z-index: 3;
    text-decoration: none;
    font-family: "Rale";
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
}

a.color-two{
    position: fixed;
    left: 93%;
    top: 2%;
    color: black;
    z-index: 3;
    text-decoration: none;
    font-family: "Rale";
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
}

a.color-three{
    position: fixed;
    left: 93%;
    top: 95%;
    color: black;
    z-index: 3;
    text-decoration: none;
    font-family: "Rale";
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
}

a.color-four{
    position: fixed;
    left: 2%;
    top: 95%;
    color: black;
    z-index: 3;
    text-decoration: none;
    font-family: "Rale"/*'Teko', sans-serif*/;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
}




.merch{
    height:770px;
    width: 100%;
    position: relative;
    border-top: 3px solid rgb(226, 187, 29);
    
    background-attachment: fixed;
    
    
   
    
}

.{
    height:770px;
    width: 100%;
    position: relative;
    border-top: 3px solid rgb(226, 187, 29);
    
    background-attachment: fixed;
    
    
   
    
}

.mercs{
    height:800px;
    width: 100%;
    position:relative;
   
    background-color: rgb(226, 187, 29);
    background-attachment: fixed;
    float: left;
    padding-bottom: 30px;
    
    
   
    
}

.merd{
    height:650px;
    width: 50%;
    position:relative;
    display: inline-block;
    float: left;
    border-top: 3px solid rgb(226, 187, 29);
    background-color: black;
    background-attachment: fixed;
    vertical-align: top;
    
    
    
   
    
}

.gaf{
   position: fixed;
    left: 2%;
    top: 3%;
    z-index: 3;
   margin-left: 46%;
       margin-right: 46%; 
    color: white; /*rgb(216, 185, 73)*/ 
    
    
     
}

a.joey{
    text-decoration: none;
     color: white;
    font-weight: bold; 
    
    
    
}


a.joey:hover{
    color: black;
}
.merp{
    height:100px;
    width: 100%;
    position:relative;
   
    border-top: 3px solid rgb(226, 187, 29);
    background-color: rgb(226, 187, 29);
    background-attachment: fixed;
    vertical-align: top;
    
    
    
   
    
}

p.dog{
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: rgb(226, 187, 29);
    font-family: Bourbon;
}

th.run{
    
    color: white;
    height: 20px;
    width: 10px;
   text-align: center;
}

table.people{
    width: 100%;
    
    margin-top: 130px;
    border-collapse: collapse;
    
    
}

.pic{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
tr{
    
}

.chart{
    height: 570px;
    width: 40%;
    background-color: rgb(0,0,0, 0.6);
    position: absolute;
    top: 20%;
    left: 8%;
}

h2.m {
    font-size: 60px;
     font-family: Bourbon;
    color: white;
    margin-left: 37%;
    margin-top: 20%;
    position: absolute;
    top: -3%;
    left: -2%;
    
    
}

h2.n {
    font-size: 90px;
     font-family: Bourbon;
    color: white;
   /* margin-left: 30%;
    margin-top: 7%;
    
    position: absolute;
    top: -7%;
    left: 7%;*/
    text-align: center;
    font-size: 40px;
    
}

th.z{
    width:20%;
    height: 50%
}

h2.f {
   
     font-family: Bourbon;
    color: white;
  
   
    font-size: 25px;
    
}


h2.p {
    font-size: 90px;
     font-family: Bourbon;
    color: white;
    margin-left: 14%;
    margin-top: 7%;
    position: absolute;
    top: -3%;
    left: 24%;
    font-size: 40px;
    
}

h4.button{
    height: 50px;
    width: 15%;
    border: 5px solid black;
   font-size: 30px;
    text-align: center; 
    margin-left: 15%;
    margin-top: 3%;
    padding: 10px;
    
        
}
p.c{
    margin-left: 70%;
}

th{
    color: rgb(216, 185, 73);
    font-family: "Monster";
    padding-right: 26px;
}

a.shop{
    text-decoration: none;
    color: white;
    
    
}

a.perch{
  color: black;
    text-decoration: none;
    
}

a.perch:hover{
    color: white;
}

a.perch:visited{
    color: black;
}


tr.space{
    
height: 50px;
}

a.hola{
    color: rgb(216, 185, 73);
    text-decoration: none;
}

a.holal:visited{
     color: rgb(216, 185, 73);
    text-decoration: none;
}

a.hola:hover{
    color: white;
}





.clothe {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.tag {
  color: white;
  font-size: 22px;
}

.taga {
  color: white;
  font-size: 22px;
}

.clothe button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.clothe button:hover {
  color: rgb(216, 185, 73);
    background-color: white;
}

@media screen and (max-width: 575px) {
    


}

    
