@import url('https://fonts.googleapis.com/css?family=Teko');

@font-face{
    font-family:"Library";
    src: url("library-3-am/Library 3 am.otf") 
}

@font-face{
    font-family:"ralel";
    src: url("raleway/Raleway-Light.ttf") 
}

@font-face{
    font-family:"Quantum";
    src: url("Quantum.otf") 
}

@font-face{
    font-family:"Monster";
    src: url("montserrat/Montserrat-Regular.ttf") 
}

@font-face{
    font-family:"Library";
    src: url("library-3-am/Library 3 am.otf") 
}

@font-face{
    font-family:"Mosk";
    src: url("Mosk Typeface/Mosk Medium 500.tff") 
}


@font-face{
    font-family:"Bourbon";
    src: url("BourbonGrotesque-Regular+(1).otf") 
}
@font-face{
    font-family:"rale";
    src: url("raleway/Raleway-Regular.ttf") 
}

@font-face{
    font-family:"Port";
    src: url("Potra (1)/Potra.ttf") 
}

video {
    width: 100%;
    z-index: 2;
    height: auto;
    border-bottom: 20px solid black;
}

.gaf{
   position: fixed;
    left: 2%;
    top: 3%;
    z-index: 3;
   margin-left: 46%;
       margin-right: 46%; 
    color: white; /*rgb(216, 185, 73)*/ 
    
    
     
}

body{
margin: 0;
}
.wrapper{
    padding-bottom:0px;
}
h1{
    position: absolute;
    z-index: 3;
    left: 0%;
    top: 0%;
    margin-left: 50%;
    margin-top: 20%;
    color: white;  
    font-family:"Bourbon";
    font-size: 60px;
    
    
} 
a.color-one{
    position: fixed;
    left: 2%;
    top: 2%;
    color: white;
    z-index: 3;
    text-decoration: none;
    font-family: "Rale";
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}

a.color-two{
    position: fixed;
    left: 93%;
    top: 2%;
    color: white;
    z-index: 3;
    text-decoration: none;
    font-family: "Rale";
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}

a.color-three{
    position: fixed;
    left: 93%;
    top: 95%;
    color: rgb(216, 185, 73);
    z-index: 3;
    text-decoration: none;
    font-family: "Rale";
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}

a.color-four{
    position: fixed;
    left: 2%;
    top: 95%;
    color: rgb(216, 185, 73);
    z-index: 3;
    text-decoration: none;
    font-family: "Rale"/*'Teko', sans-serif*/;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}


.merch{
    height:770px;
    width: 100%;
    position: relative;
    border-top: 3px solid rgb(226, 187, 29);
    
    background-attachment: fixed;
    
    
   
    
}

.mercs{
    height:650px;
    width: 50%;
    position:relative;
    border-top: 3px solid rgb(226, 187, 29);
    background-color: white;
    background-attachment: fixed;
    float: left;
    
    
   
    
}

.merd{
    height:650px;
    width: 50%;
    position:relative;
    display: inline-block;
    float: left;
    border-top: 3px solid rgb(226, 187, 29);
    background-color: black;
    background-attachment: fixed;
    vertical-align: top;
    
    
    
   
    
}

.merp{
    height:100px;
    width: 100%;
    position:relative;
   
    border-top: 3px solid rgb(226, 187, 29);
    background-color: rgb(226, 187, 29);
    background-attachment: fixed;
    vertical-align: top;
    
    
    
   
    
}






.chart{
    height: 570px;
    width: 40%;
    background-color: rgb(0,0,0, 0.6);
    position: absolute;
    top: 20%;
    left: 8%;
}

h2.m {
    font-size: 90px;
     font-family: Bourbon;
    color: black;
    margin-left: 14%;
    margin-top: 7%;
    position: absolute;
    top: -3%;
    left: -2%;
    font-size: 40px;
    
}



h2.n {
    font-size: 90px;
     font-family: Bourbon;
    color: rgb(226, 187, 29);
    margin-left: 14%;
    margin-top: 7%;
    position: absolute;
    top: -3%;
    left: 12%;
    font-size: 40px;
    
}

th.z{
    width:20%;
    height: 50%
}

h2.f {
   
     font-family: Bourbon;
    color: white;
  
   
    font-size: 25px;
    
}


h2.p {
    font-size: 90px;
     font-family: Bourbon;
    color: white;
    margin-left: 14%;
    margin-top: 7%;
    position: absolute;
    top: -3%;
    left: 24%;
    font-size: 40px;
    
}

h4.button{
    height: 50px;
    width: 15%;
    border: 5px solid black;
   font-size: 30px;
    text-align: center; 
    margin-left: 15%;
    margin-top: 3%;
    padding: 10px;
    
        
}
p.c{
    margin-left: 70%;
}

th{
    color: rgb(216, 185, 73);
    font-family: "Monster";
    padding-right: 26px;
}

a.shop{
    text-decoration: none;
    color: white;
    
    
}







input[type=text]{
     width: 22%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    margin-left: 39%;
    margin-right: 39%;
        position: absolute;
    left: 0%;
    top: 0%;
    margin-top: 2.2%;
}

input[type=submit]{
    width: 10%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
margin-left:80%;
    position: absolute;
    left: 0%;
    top: 0%;
    
    margin-left: 63%;
    margin-top: 2.2%;
}


input[type=submit]:hover{
    background-color: white;
    color: rgb(226, 187, 29);
}


  .merch-actual{
        height: 600px;
        width: 100%;
      background-color: blue;
      position: relative;
    }
  
   

.tour{
 width: 100%;
 height: 840px;
 
    border-top: 3px solid white;
    z-index: 19;
    
}

h2.Moon{
    color: rgb(226, 187, 29);
    font-size: 70px;
    font-family: 'Teko', sans-serif;
text-align: center;
}

h4.Listing{
    color: white;
    text-align: center;
}
span {
  content: "\2192";
}

    table.tart{
        
    }
    
    
    

    

    
    
p.man{
        height: 50px;
        width: 20%;
        padding: 5px;
      
        margin-left: 40%;
        margin-right: 40%;
        
    }


a.none{
    
color: black;
    text-decoration: none;
}

a.none:hover{
    color: rgb(226, 187, 29)
}

p.ma{
        height: 50px;
        width: 20%;
        padding: 5px;
      
        margin-left: 45%;
        margin-right: 35%;
        
    }


form{
   text-align: center;
}

p.gar{
    display:inline;
    font-family: Bourbon;
    font-size: 20px;
    color: white;
}

p.who{
    margin-left: 7%;
}

a.non{
    
color: white;
    text-decoration: none;
}



a.non:hover{
    color: rgb(226, 187, 29)
}

a.paul{
    color: rgb(216, 185, 73);
    text-decoration: none;
}

a.paul:visited{
     color: rgb(216, 185, 73);
    text-decoration: none;
}

a.paul:hover{
    color: white;s
}



///////////////////////////////////

footer{
     height:100px;
    width: 100%;
    position:relative;
   
    border-top: 3px solid rgb(226, 187, 29);
    background-color: rgb(226, 187, 29);
    background-attachment: fixed;
    vertical-align: top;
}



#pathram {
    width: 150px;
    perspective: 1000px;
}

.cube {
    margin: auto;
    position: relative;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.cube:hover {
    transform: rotateX(180deg) rotateY(360deg);
}

.side {
    position: absolute;
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
}

.side.back {
    transform: translateZ(-25px) rotateX(180deg);
}

.side.left {
    transform: translateX(-25px) rotateY(-90deg);
}

.side.right {
    transform: translateX(25px) rotateY(90deg);
}

.side.front {
    transform: translateZ(25px);
}

.side.top {
    transform: translateY(-25px) rotateX(90deg)
}

.side.bottom {
    transform: translateY(25px) rotateX(90deg)
}

.side .icon {
    margin: 30% auto;
    vertical-align: middle;
    font-size: 20px;
    text-shadow: 0 0 3px #000;
}

.side.grey {
    color: #fff;
    background-color: #777;
}

.side.black {
    color: #ffffff;
    background-color: #AC0D26;
}

.side.twitter {
    color: #ffffff;
    background-color: #00aced;
}

.side.facebook {
    color: #ffffff;
    background-color: #3b5998;
}

.side.instagram {
    color: #ffffff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.side.snapchat {
    color:#ffffff;
    background-color: #fefc00;
}

.side.reddit {
    color: #ffffff;
    background-color: #FF5700;
}











    
    

    
